[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_ZOHO_CLIENT_ID,NEXT_PUBLIC_REDIRECT_URI,ZOHO_CLIENT_SECRET"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
